*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    background-color: #FFEFC6;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-size: 50px;
}

header p{
    color: #E72929;
    font-family:Georgia, 'Times New Roman', Times, serif;
    top: 0;
}

header img{
    width: 250px;
}

.sign{
    position: absolute;
    top: 15px;
    right: 15px;
}

.signin{
    color: white;
    text-decoration: none;
    margin: 15px;
    padding: 5px 10px 5px 10px ;
    font-size: 18px;
    background-color: #E72929;
    border: #00224D solid 2px;
    font-weight: bold;
    border-radius: 7px;
    display: flex;
    transition: transform 0.3s ease;
}

.signin:hover{
    transform: scale(1.1);
}


.signup{
    color: #00224D;
    text-decoration: none;
    margin: 15px;
    padding: 5px 10px 5px 10px ;
    font-size: 18px;
    background-color: white;
    border: #E72929 solid 2px;
    font-weight: bold;
    border-radius: 7px;
    display: flex;
    transition: transform 0.3s ease;
}

.signup:hover{
    transform: scale(1.1);
}

.nav{
    text-align: center;
}

.nav ul li {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    margin-top: 20px;
}

.nav ul li a{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    transition: transform 0.3s ease;
    display: inline-block;
}

.nav ul li a:hover{
    color: #E72929;
    transform: scale(1.1);
}

/* SALAM */

.salam{
    background-color: #FFEFC6;
    text-align: center;
    padding-bottom: 70px;
}

.salam h2{
    font-size: 32px;
    margin-bottom: 8px;
}

.salam p{
    font-size: 17px;
    color: #E72929;
    margin-bottom: 10px;
}

.jelajahi_lebih_lanjut{
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border: #E72929 3px solid;
    border-radius: 7px;
    padding: 10px 5px 10px 5px;
    color: black;
    box-shadow: 3px 3px 5px black;
    display: inline-block;
    transition: transform 0.3s ease;
}

.jelajahi_lebih_lanjut:hover{
    transform: scale(1.1);
}

/* item */

#produk{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}

.item_produk{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.item{
    text-align: left;
    margin: 20px 30px 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 260px;
}

.item img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 30px;
}

.item h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.harga{
    color: green;
}

.harga-diskon{
    margin-bottom: 15px;
    color: green;
    display: inline;
}

.diskon{
    text-decoration: line-through red 2px;
    display: inline;
}

.btn-masukankeranjang{
    font-size: 17px;
    font-weight: bold;
    color: white;
    display: inline-block;
    background-color: #E72929;
    padding: 5px 10px 5px 10px;
    border: #00224D solid 3px;
    border-radius: 5px ;
    position: absolute;
    transition: transform ease 0.3s;
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn-masukankeranjang:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* Footer */

footer{
    background-color: #FFEFC6;
    text-align: center;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-top: 20px;
}

.footer-info{
    flex: 1;
    margin: 30px;
    text-align: left;
    max-width: 300px;
}

.footer-info h3{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.footer-info p{
    font-size: 18px;
    margin-left: 20px;
}

.footer-info ul{
    margin-left: 30px;
}

.footer-info a{
    text-decoration: none;
    color: black;
}

.footer-info a:hover{
    color: #E72929;
    font-weight: bold;
}

.copyright{
    background-color: #FFEFC6;
    padding: 10px 0px;
}

.copyright p{
    background-color: burlywood;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
}

@keyframes scrollDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}